/* General */
body {
  background-image: url(../imagen/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
h2 {
  margin: 0px;
}
p {
  margin: 0px;
}
h1 {
  margin-bottom: 0px;
}
td {
  margin: 100px;
}
/* FIN General */
/* Sección nombre */
#nombre {
  margin-top: 100px;
  margin-left: 100px;
}
#presentacion {
  margin-left: 100px;
}
/* Sección datos */
#datos {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 100px;
}
/* Foto */
#foto {
  margin-left: 100px;
}
/* Sección redes */
#redes {
  margin-top: 50px;
  border-top: 5px solid white;
  background-color: goldenrod;
  color: black;
  padding-left: 100px;
}
.instagram {
  color: rgb(168, 1, 90);
}
.facebook {
  color: rgb(0, 112, 150);
}
.linkedln {
  color: blue;
}
/* FIN Sección redes */
